$pageMaxWidth: 1620px;
$contentMaxWidth: 840px;
// $mainPadding: 50px;
// $minPadding: 15px;

$mainFont: 'Montserrat';
$padding: 20px;



$white: #fff;
$black: #313131;
$superBlack: #000;
$yellow: #D9E924;
$bgc: #FBFBFB;

$grey: #696969;
$greyLight: #9D9D9D;

$index: calc(1vh + 1vw)
