* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
  object-fit: contain;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
}

svg {
  display: block;
}

// a:focus, button:focus, div:focus {
//   border: none;
//   outline: none;
// }


input {
  &:hover,
  &:active,
  &:focus,
  &:focus-visible {
    outline: none;
  }
}
